@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Inicio</h1>

    <div class="col-12 container">
        <a asp-controller="Productos" asp-action="Index" class="btn btn-primary">Productos</a>
    </div>
</div>
